NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=https://aduramart.vercel.app
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
SMILE_ID_PARTNER_ID=
SMILE_ID_API_KEY=
SMILE_ID_ENV=sandbox
SMILE_ID_CALLBACK_URL=https://aduramart.vercel.app/api/kyc/smile/callback
